---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/faraday.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"name":"faraday","downloads":9585597,"version":"0.9.0","version_downloads":1201239,"platform":"ruby","authors":"Rick
        Olson","info":"HTTP/REST API client library.","licenses":["MIT"],"project_uri":"http://rubygems.org/gems/faraday","gem_uri":"http://rubygems.org/gems/faraday-0.9.0.gem","homepage_uri":"https://github.com/lostisland/faraday","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"dependencies":{"development":[{"name":"bundler","requirements":"~>
        1.0"}],"runtime":[{"name":"multipart-post","requirements":"< 3, >= 1.2"}]}}'
  recorded_at: Tue, 15 Jul 2014 23:07:27 GMT
recorded_with: VCR 2.9.2
